@import "animations";
@import "partials/center-info";
@import "partials/circle-containers";
@import "partials/iframe";
@import "partials/info-column";
@import "partials/main-content";
@import "partials/nav-icons";
@import "partials/project-container";
@import "partials/subnav";
@import "partials/text-shadow";

@import "components/colors";

body {
  background: url(../img/desk3.jpg) center center fixed;
  background-size: cover;
  max-height: 100vh;
  overflow: hidden;
}

nav {
  position: sticky !important;
  z-index: 9999 !important;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
