<nav class="row">
  <div class="nav-img-main">
    <img src="./img/personal-img/placeholder.jpg"/>
  </div>

  <div class="sub-nav upper">
    <h3> CALLAN MORRISON </h3>
  </div>

  <div class="sub-nav lower"
   <ul id="nav">
     <li class="icon"><a href="https://www.linkedin.com/in/callanmorrison"><img class="boxshadow-png" src="./img/resume-icons/linkedin.png"/></a></li>
     <li class="icon"><a href="http://codepen.io/morecallan/"><img class="boxshadow-png" src="./img/resume-icons/codepen.png"/></a></li>
     <li class="icon"><a href="https://github.com/morecallan"><img class="boxshadow-png" src="./img/resume-icons/github.svg"/></a></li>
     <!-- TODO: create modal for contact -->
     <li class="icon"><img class="boxshadow-png" src="./img/resume-icons/contact.png"/></li>
     <li class="icon"><a href="data/downloadables/resume.jpg" download><img class="boxshadow-png" src="./img/resume-icons/resume.png"/></a></li>
   </ul>
 </div>
</nav>
