<div class="main-content">
  <ul class='circle-container-right'>
    <li><img src='./img/placeholder.jpg'/></li>
    <li><img src='./img/placeholder.jpg'/></li>
    <li><img src='./img/placeholder.jpg'/></li>
    <li><img src='./img/placeholder.jpg'/></li>
  </ul>

  <div class='center-info'>
    <h5>LOREM</h5>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vel libero a lectus imperdiet vestibulum. Nullam lacinia risus sed ligula mollis vehicula. Proin sed turpis ac nunc blandit iaculis sit amet eu nisi. Praesent cursus velit a gravida gravida. Donec vulputate malesuada est ultricies condimentum. Integer non diam nulla. Vivamus eget fringilla leo.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vel libero a lectus imperdiet vestibulum. Nullam lacinia risus sed ligula mollis vehicula. Proin sed turpis ac nunc blandit iaculis sit amet eu nisi. Praesent cursus velit a gravida gravida. Donec vulputate malesuada est ultricies condimentum. Integer non diam nulla. Vivamus eget fringilla leo.</p>
    <i class="material-icons medium boxshadow-png">keyboard_arrow_down</i>
  </div>

  <ul class='circle-container-left'>
    <li><img src='./img/placeholder.jpg'/></li>
    <li><img src='./img/placeholder.jpg'/></li>
    <li><img src='./img/placeholder.jpg'/></li>
    <li><img src='./img/placeholder.jpg'/></li>
  </ul>
</div>
