$navy: #2B3441;
$navy-light: #2E5464;
$charcoal: #3A373E;
$charcoal-light: #44484D;
$purple: #5F3F54;
$mustard: #C99E53;
$green-ish: #273E3E;
$navy-light-very: #CBD8E1;
$taupe: #8C7E78;
$taupe-light: #DDDCDB;
