@import "../components/colors";


.center-info {
  margin: 5% auto;
  padding: 15px;
  min-height: 10%;
  width: 100%;
  border-radius: 10px;
  text-align: center;
  background-color: $purple;
  color: white;
  opacity: .85;
  z-index: 100;


  h5 {
    letter-spacing: .5em;
  }

  i {
    line-height: .5em;
    padding: 0 !important;
    margin-bottom: -10px !important;
    color: $taupe-light !important;
  }
}
