@import "../components/colors";

.center-info {
  margin: 5% auto;
  padding: 10px 10px 0px 10px;
  width: 35%;
  min-height: 10%;
  border-radius: 10px;
  text-align: center;
  background-color: $purple;
  color: white;
  opacity: .75;

  h5 {
    letter-spacing: .5em;
  }

  i {
    line-height: .5em;
    padding: 0 !important;
    margin-bottom: -10px !important;
  }
}
