@import "../components/colors";

.info-column {
  text-align: center;
  background-color: rgba(221, 220, 219, .7);
  border-radius: 5px;
  padding: 20px;
  max-height: 800px;

  img {
    max-width: 30px;
    max-height: 30px;
    margin: 0 auto;
  }
}
