@import "../components/colors";

.mock-modal {
    border-radius: 5px;
    box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.42), 0 25px 55px 0 rgba(0, 0, 0, 0.40) !important;
    z-index: 9999;
    width: 36%;
    min-height: 40%;
    position: absolute;
    top: 25%;
    left: 32%;
    background-color: $taupe;
    color: $charcoal;
    overflow: hidden;
    text-align: center;

    img {
      max-width: 90%;
    }

    a {
      color: $charcoal;
      font-size: 20px;
    }
  }
