/* slide in from the bottom */
/* entering animations --------------------------------------- */
.fade {
  opacity: 1;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out; }

/* slide in from the right */
@keyframes slideInDown {
  from {
    transform: translateY(100%); }
  to {
    transform: translateY(0); } }

/* slide in from the bottom */
@keyframes slideOutUp {
  from {
    transform: translateY(0); }
  to {
    transform: translateY(-100%); } }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.ng-enter {
  animation: slideInDown 0.5s both ease-in !important;
  z-index: 8888; }

iframe {
  animation: fadein 0.9s both ease-in !important;
  z-index: 9990; }

img {
  animation: fadein 0.9s both ease-in !important;
  z-index: 9990; }

.ng-leave {
  animation: slideOutUp 0.5s both ease-in !important;
  z-index: 100 !important; }

.center-info {
  margin: 5% auto;
  padding: 15px;
  min-height: 10%;
  width: 100%;
  border-radius: 10px;
  text-align: center;
  background-color: #5F3F54;
  color: white;
  opacity: .85;
  z-index: 100; }
  .center-info h5 {
    letter-spacing: .5em; }
  .center-info i {
    line-height: .5em;
    padding: 0 !important;
    margin-bottom: -10px !important;
    color: #DDDCDB !important; }

.circle-container-right {
  margin-left: -100px !important;
  position: relative;
  min-width: 25em;
  height: 25em;
  padding: 0;
  border-radius: 50%;
  list-style: none;
  margin: 5em auto 0;
  border: solid 4px black; }
  .circle-container-right > * {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 8em;
    height: 8em;
    margin: -4em; }
    .circle-container-right > *:nth-of-type(1) {
      transform: rotate(270deg) translate(12.5em) rotate(-270deg); }
    .circle-container-right > *:nth-of-type(2) {
      transform: rotate(330deg) translate(12.5em) rotate(-330deg); }
    .circle-container-right > *:nth-of-type(3) {
      transform: rotate(390deg) translate(12.5em) rotate(-390deg); }
    .circle-container-right > *:nth-of-type(4) {
      transform: rotate(450deg) translate(12.5em) rotate(-450deg); }
  .circle-container-right img {
    display: block;
    max-width: 100%;
    border-radius: 50%;
    filter: grayscale(100%);
    border: solid 4px black;
    transition: .15s;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7); }
    .circle-container-right img:hover, .circle-container-right img:active {
      filter: grayscale(0); }

.circle-container-left {
  margin-right: -100px !important;
  position: relative;
  min-width: 25em;
  height: 25em;
  padding: 0;
  border-radius: 50%;
  list-style: none;
  margin: 5em auto 0;
  border: solid 4px black; }
  .circle-container-left > * {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 8em;
    height: 8em;
    margin: -4em; }
    .circle-container-left > *:nth-of-type(1) {
      transform: rotate(90deg) translate(12.5em) rotate(-90deg); }
    .circle-container-left > *:nth-of-type(2) {
      transform: rotate(150deg) translate(12.5em) rotate(-150deg); }
    .circle-container-left > *:nth-of-type(3) {
      transform: rotate(210deg) translate(12.5em) rotate(-210deg); }
    .circle-container-left > *:nth-of-type(4) {
      transform: rotate(270deg) translate(12.5em) rotate(-270deg); }
  .circle-container-left img {
    display: block;
    max-width: 100%;
    border-radius: 50%;
    filter: grayscale(100%);
    border: solid 4px black;
    transition: .15s;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7); }
    .circle-container-left img:hover, .circle-container-left img:active {
      filter: grayscale(0); }

.smaller-frame {
  -ms-zoom: 0.75;
  -moz-transform: scale(0.75);
  -moz-transform-origin: 0 0;
  -o-transform: scale(0.75);
  -o-transform-origin: 0 0;
  -webkit-transform: scale(0.75);
  -webkit-transform-origin: 0 0; }

.info-column {
  text-align: center;
  background-color: rgba(221, 220, 219, 0.7);
  border-radius: 5px;
  padding: 20px;
  max-height: 800px; }
  .info-column img {
    max-width: 30px;
    max-height: 30px;
    margin: 0 auto; }

.main-content {
  display: flex;
  overflow: hidden;
  padding: 0;
  min-height: 800px; }

.mock-modal {
  border-radius: 5px;
  box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.42), 0 25px 55px 0 rgba(0, 0, 0, 0.4) !important;
  z-index: 9999;
  width: 30%;
  min-height: 40%;
  position: absolute;
  top: 25%;
  left: 35%;
  background-color: #8C7E78;
  color: #3A373E;
  overflow: hidden;
  text-align: center; }
  .mock-modal img {
    max-width: 90%; }

#nav .icon {
  padding: 0 7%; }

#nav .icon > * {
  max-width: 40px;
  max-height: 40px; }
  #nav .icon > * img {
    max-width: 40px;
    max-height: 40px; }

.project-container {
  margin-top: 30px !important; }
  .project-container .project > .iframe-container {
    margin: 0 auto; }

nav {
  margin: 10px 0 !important;
  height: 120px !important;
  background-color: #CBD8E1; }
  nav .nav-img-main {
    max-width: 12%;
    min-height: 120px;
    max-height: 120px;
    opacity: 0.8;
    overflow: hidden;
    float: left;
    margin: 0 3%; }
    nav .nav-img-main img {
      width: 100%; }
  nav .sub-nav {
    float: right;
    display: inline-block;
    width: 84%;
    max-width: 82%;
    height: 58px;
    margin: 0;
    overflow: hidden;
    text-align: center;
    padding: 10px 0;
    border-radius: 5px 0 0 5px; }
    nav .sub-nav h3 {
      text-align: center;
      margin: 0;
      letter-spacing: .8em;
      padding-bottom: 10%;
      color: #2B3441; }
    nav .sub-nav li {
      display: inline-block;
      list-style: none; }
  nav .lower {
    background-color: rgba(0, 0, 0, 0.2); }

.textshadow {
  text-shadow: 2px 2px 2px black; }

.boxshadow-png {
  -webkit-filter: drop-shadow(1px 1px 1px rgba(68, 72, 77, 0.5)); }

body {
  background: url(../img/desk3.jpg) center center fixed;
  background-size: cover;
  max-height: 100vh;
  overflow: hidden; }

nav {
  z-index: 8 !important; }

.sub-nav {
  z-index: 9999 !important; }

.ng-viewer {
  z-index: 800 !important; }

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important; }
