<div id="about-partial" class="mock-modal z-depth-4">
    <h4>Want even <strong>more</strong> Callan?</h4>
    <div class="container">
      <div class="row">
        <div class="col s3">
          <img class="boxshadow-png" src="./img/resume-icons/phone.png"/>
        </div>
        <div class="col s8 offset-s1">
          <h5>804.543.5474</h5>
        </div>
      </div>
      <div class="row">
        <div class="col s3">
          <img class="boxshadow-png" src="./img/resume-icons/email.png"/>
        </div>
        <div class="col s8 offset-s1">
          <a href="mailto:callan@morecallan.com?Subject=Greetings!">callan@morecallan.com</a>
        </div>
      </div>
    </div>
</div>
