<div class="row project-container">
  <div class="col s3">
    <div class="info-column">
      <h5>{{projectToDisplay.title}}</h5>
      <p>{{projectToDisplay.description}}</p>
      <a ng-href={{projectToDisplay.github}}><img class="boxshadow-png" src="./img/resume-icons/github.svg"/></a></li>
    </div>
  </div>

  <div class="col s9 project">
    <div class="iframe-container" style="width: {{projectToDisplay.iframeDimensions.width*.75}}px;">
      <iframe class="smaller-frame"
        ng-show="loaded"
        ng-onload="uploadDone()"
        width="{{projectToDisplay.iframeDimensions.width}}"
        height="{{projectToDisplay.iframeDimensions.height}}"
        frameborder="0"
        scrolling= {{projectToDisplay.iframeScroll}}
        marginheight="0"
        marginwidth="0"
        ng-src="{{projectToDisplay.url}}">
      </iframe>
    </div>
  </div>
</div>
