<div class="row">

  <div class="col s4">
    <div class="main-content">
      <ul class='circle-container-right'>
        <li ng-repeat="project in frontendProjects" ng-mouseover="displayProjectDetails(project)">
          <img ng-src={{project.thumbnail}}/>
        </li>
      </div>
    </ul>
  </div>

      <div class="col s4">
        <div class="projectInfo center-info" ng-if="projectSelected">
          <h5>{{selectedProject.title.toUpperCase()}}</h5>
          <p>{{selectedProject.description}}</p>
          <a ng-href="#/project/{{selectedProject.key}}"><i class="material-icons medium textshadow">keyboard_arrow_down</i></a>
        </div>

        <div class="callanInfo center-info" ng-if="!projectSelected">
          <h5>ABOUT CALLAN</h5>
          <p><strong>In past lives</strong> I was a marketer, a writer, a project manager, and a <strong>tooth fairy</strong> (not a joke). I always believed the things I loved (<em>numbers, creativity, building things, solving mysteries, staring at a screen for hours </em>{<em>sometimes cursing</em>}) couldn't be combined into one tiny job. But then I worked for a start-up website. Two seats down from the empty server desk. I got into the habit of rolling on down there and just peeking at the source code.</p>
          <p><strong>In the wild</strong> I'm a dog person with a 5th grade sense of humor.</p>
        </div>
      </div>



      <div class="col s4">
        <div class="main-content">
          <ul class='circle-container-left'>
            <li ng-repeat="project in backendProjects" ng-mouseover="displayProjectDetails(project)">
              <img ng-src={{project.thumbnail}}/>
            </li>
          </div>
        </ul>
      </div>

</div>
