.center-info {
  margin: 5% auto;
  padding: 10px;
  width: 35%;
  min-height: 30%;
  border-radius: 10px;
  text-align: center;
  background-color: #5F3F54;
  color: white;
  opacity: .75; }
  .center-info h5 {
    letter-spacing: .5em; }

.circle-container-right {
  margin-left: -100px !important;
  position: relative;
  min-width: 25em;
  height: 25em;
  padding: 0;
  border-radius: 50%;
  list-style: none;
  margin: 5em auto 0;
  border: solid 4px #2E5464; }
  .circle-container-right > * {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 8em;
    height: 8em;
    margin: -4em; }
    .circle-container-right > *:nth-of-type(1) {
      transform: rotate(270deg) translate(12.5em) rotate(-270deg); }
    .circle-container-right > *:nth-of-type(2) {
      transform: rotate(330deg) translate(12.5em) rotate(-330deg); }
    .circle-container-right > *:nth-of-type(3) {
      transform: rotate(390deg) translate(12.5em) rotate(-390deg); }
    .circle-container-right > *:nth-of-type(4) {
      transform: rotate(450deg) translate(12.5em) rotate(-450deg); }
  .circle-container-right img {
    display: block;
    max-width: 100%;
    border-radius: 50%;
    filter: grayscale(100%);
    border: solid 4px #2E5464;
    transition: .15s;
    box-shadow: 5px 5px 5px #44484D; }
    .circle-container-right img:hover, .circle-container-right img:active {
      filter: grayscale(0); }

.circle-container-left {
  margin-right: -100px !important;
  position: relative;
  min-width: 25em;
  height: 25em;
  padding: 0;
  border-radius: 50%;
  list-style: none;
  margin: 5em auto 0;
  border: solid 4px #2E5464; }
  .circle-container-left > * {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 8em;
    height: 8em;
    margin: -4em; }
    .circle-container-left > *:nth-of-type(1) {
      transform: rotate(90deg) translate(12.5em) rotate(-90deg); }
    .circle-container-left > *:nth-of-type(2) {
      transform: rotate(150deg) translate(12.5em) rotate(-150deg); }
    .circle-container-left > *:nth-of-type(3) {
      transform: rotate(210deg) translate(12.5em) rotate(-210deg); }
    .circle-container-left > *:nth-of-type(4) {
      transform: rotate(270deg) translate(12.5em) rotate(-270deg); }
  .circle-container-left img {
    display: block;
    max-width: 100%;
    border-radius: 50%;
    filter: grayscale(100%);
    border: solid 4px #2E5464;
    transition: .15s;
    box-shadow: 5px 5px 5px #44484D; }
    .circle-container-left img:hover, .circle-container-left img:active {
      filter: grayscale(0); }

.main-content {
  display: flex; }

#nav .icon {
  padding: 0 7%; }

#nav .icon > * {
  max-width: 40px;
  max-height: 40px; }

nav {
  margin: 10px 0 !important;
  height: 120px !important;
  background-color: #CBD8E1; }
  nav .nav-img-main {
    max-width: 120px;
    max-height: 120px;
    border-radius: 5px;
    overflow: hidden;
    float: left;
    margin: 0 1%; }
    nav .nav-img-main img {
      width: 100%; }
  nav .sub-nav {
    float: right;
    display: inline-block;
    width: 84%;
    height: 58px;
    margin: 0;
    overflow: hidden;
    text-align: center;
    padding: 10px 0;
    border-radius: 5px 0 0 5px; }
    nav .sub-nav h3 {
      margin: 0;
      letter-spacing: 1em;
      padding-bottom: 10%;
      color: #2B3441; }
    nav .sub-nav li {
      display: inline-block;
      list-style: none; }
  nav .lower {
    background-color: rgba(0, 0, 0, 0.2); }

body {
  background-color: #DDDCDB; }
